.row {
  display: flex;
  justify-content: center;
  height: 20%;

  &.row-top {
    align-items: flex-end;
  }

  &.row-bottom {
    align-items: flex-start;
  }

  &.row-main {
    align-items: center;
    height: 60%;
  }
}

.widget {
  flex-grow: 1;

  &.widget-left {
    text-align: left;
  }
  &.widget-right {
    text-align: right;
  }
  &.widget-main {
    text-align: center;
  }
}
